/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #141414;
}

.logo img {
    width: 100px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.user-profile img {
    width: 40px;
    border-radius: 10px;
}

.hero {
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('https://occ-0-4994-2164.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABbKmsG1o2_Erns923hU_E60IR56cw7jtJQriDyiSBEwAwzuagpPAB4IgNVMLlj1VGtTdjEuh1mR15JUshZOV481vBVF79sRahK8k.webp?r=006') no-repeat center center/cover;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-content button {
    background-color: #e50914;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.content {
    padding: 20px;
}

.content h2 {
    margin-bottom: 10px;
}

.row {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 20px;
    overflow: hidden;
}

.card {
    flex: 0 0 200px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.main-footer {
    background-color: #141414;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
